@import "./mixins";

.featured {
  width: 100%;
  margin-top: 100px;
  @include flex($direction: column);

  h2 {
    @include heading {
      font-size: 2.5rem;
      line-height: 4rem;
      text-align: center;

      @include mobile {
        font-size: 2rem;
        line-height: 3rem;
      }
    }
    margin-bottom: 32px;
  }

  &_grid {
    @include flex($justify: space-between);
    width: 100%;
    max-width: 700px;
    padding: 1em;

    @include mobile {
      justify-content: space-around;
    }

    div {
      width: 133px;

      @include mobile {
        width: 90px;
      }
    }
  }

  &_gif {
    width: 100%;
    margin-top: 73px;
    margin-bottom: 44px;
  }

  &_details {
    @include flex($justify: space-between);
    width: 100%;
    max-width: 1000px;
    padding: 1em;

    @include mobile {
      justify-content: space-around;
    }

    &_item {
      @include flex($direction: column, $align: flex-start);

      .count {
        @include heading {
          color: $secondary-color;
          font-size: 2rem;
          line-height: 4rem;   
          
          @include mobile {
            font-size: 1.5rem;
            line-height: 2rem;
          }
        }
      }

      .title {
        font-family: 'PP Agrandir Regular', sans-serif;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 2rem;
        color: $dark-color-2;

        @include mobile {
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }
    }
  }
}