@import "./mixins";

.footer {
  padding: 2.5em 0;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include mobile {
    margin-top: 70px;
  }
}

.footer_item {
  @include mobile {
    width: 50%;
    margin-bottom: 1.5em;
    margin-right: 5px
  }
  h2 {
    @include link($large: true);
    margin-bottom: 28px;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    li {
      @include text;
      margin-bottom: 8px;
    }
  }
}