@import "./mixins";

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: $primary-color;
  width: 100%;
  height: 110px;
  padding: 0 5%;
  margin: 0 auto;
  @include flex($justify: space-between);

  &_logo {
    width: 156px;
  }

  &_nav {
    @include flex($justify: flex-start);

    ul {
      @include flex($justify: flex-start);
    }

    li {
      margin-left: 50px;

      a {
        @include link;
      }

    }

    .header_btn {
      @include btn(false);
      margin-left: 48px;
    }
  }
}