@import "./mixins";

.hero {
  width: 100%;
  margin-top: 130px;

  &_content {
    @include flex($direction: column);
    padding: 1em;
    margin-bottom: 3.5em;

    h1 {
      @include heading{
        font-size: 3.5rem;
        line-height: 4rem;
        text-align: center;

        @include mobile {
          font-size: 2.5rem;
          line-height: 3rem;
        }
      }
      width: 100%;
      max-width: 979px;
      margin-bottom: 16px;
    }

    p {
      @include text($hero:true);
      max-width: 783px;
      text-align: center
    }

    &_btn {
      @include btn(true);
      margin-top: 32px;
    }
  }

  .hero_img {
    width: 100%;
  }
}