@import "./mixins";

.schedule {
  margin-top: 116px;
  width: 100%;
  @include flex($direction: column);

  @include mobile {
    padding: 1em;
  }

  h2 {
    @include heading {
      font-size: 2.5rem;
      line-height: 3rem;
      text-align: center;

      @include mobile {
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }
  }

  p {
    max-width: 388px;
    @include text;
    text-align: center;
    margin-top: 16px;
  }

  &_img {
    width: 100%;
    max-width: 542px;
    margin-top: 56px;
  }
}